<section class="featured-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured Post</h2>
                <p class="text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error numquam harum necessitatibus itaque
                    id vel eligendi nulla eum laudantium? Obcaecati maxime officiis nihil eum vero deleniti. Perferendis
                    itaque vel praesentium?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" *ngFor="let FeaturedPost of arrFeaturedPosts;let i=index">
                <app-post-card [postCard]="FeaturedPost"></app-post-card>
            </div>
        </div>

    </div>

</section>
<section class="container mt-5">

    <div class="col-md-12 text-center">
        <h2>Latest Post</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quisquam assumenda nobis dignissimos</p>
    </div>

    <div class="row">

        <div class="col-md-4 mt-3" *ngFor="let latestPost of arrLatestPosts;let i=index">
            <app-post-card [postCard]="latestPost"></app-post-card>
        </div>

    </div>

</section>