<section class="featured-section">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured Post</h2>
                <p class="text-white">
                    The site is created for fans to develop and discuss intriguing fan theories about the Loki movies,
                    as well as create
                    their own engaging plots and screenplays. It also fosters discussion around potential improvements
                    for the movies
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" *ngFor="let FeaturedPost of arrFeaturedPosts;let i=index">
                <app-post-card [postCard]="FeaturedPost"></app-post-card>
            </div>
        </div>

    </div>

</section>
<section class="container mt-5 latest-post">

    <div class="col-md-12 text-center">
        <h2 class="text-white">Latest Post</h2>
        <p class="text-white">Most Recent Posts will appear below</p>
    </div>

    <div class="row">

        <div class="col-md-4 mt-3" *ngFor="let latestPost of arrLatestPosts;let i=index">
            <app-post-card [postCard]="latestPost"></app-post-card>
        </div>

    </div>

</section>