<div class="card" *ngIf="postCard" [routerLink]="['/post',postCard.id]">

    <img src={{postCard.postImgPath}} class="card-img-top" alt="pos-card" style="height: 250;">
    <div class="card-body">
        <small class="bg-light text-danger text-center">{{postCard.category.category}}</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3"> {{postCard.views}} - Views </small>

        <h5 class="mt-1">{{postCard.title}}</h5>
        <p class="card-text ">{{postCard.excerpt}}</p>

        <small class="bg-light text-warning text-center">Last Updated at- {{postCard.createdAt.toMillis()|date}}</small>
    </div>
</div>